:root {
  --bs-link-color: #00aa88;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00aa88;
  --bs-btn-border-color: #00aa88;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #006680;
  --bs-btn-hover-border-color: #006680;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #006680;
  --bs-btn-active-border-color: #006680;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00aa88;
  --bs-btn-disabled-border-color: #00aa88;
   font-family: 'Nunito', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: 'Nunito', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #00aa88;
}

.text-primary {
  color: #00aa88 !important;
}

header.masthead .masthead-heading {
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
}

header.masthead .masthead-subheading {
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(0, 170, 136, 0.8);
}

.modal-body p, .modal-body ul {
  text-align: left;
}

h2.section-heading {
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
}

h4 {
  font-family: 'Nunito', sans-serif;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-family: 'Nunito', sans-serif;
}

.portfolio-modal .modal-content h2 {
  font-family: 'Nunito', sans-serif;
}

.nunito-200 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.nunito-400 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-600 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.nunito-800 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}