<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">
                    CloudDev is a company founded in 2015 by Peter Gerritsen. 
                    <br />
                    CloudDev provides software development services on a freelance / project basis for the Microsoft .NET and Azure platforms.
                    <br />
                    Peter Gerritsen is an experienced developer / architect of web and cloud based solutions. 
                    <br/>
                    With more than 20 years experience in .NET development and over 10 years experience on the Azure platform he knows what is needed to get the job done.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/peter2.jpg" alt="Peter Gerritsen" />
                </div>
            </div>
        </div>
    </div>
</section>