    <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">About CloudDev</h2>
                        <p class="text-white-50">
                            CloudDev is a company founded in 2015 by Peter Gerritsen. CloudDev provides software development services on a freelance / project basis for the Microsoft .NET and Azure platforms.
                            <br/>
                            Peter Gerritsen is an experienced developer / architect of web and cloud based solutions.
                            With more than 20 years experience in .NET development and over 10 years experience on the Azure platform he knows what is needed to get the job done.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="assets/img/ipad_with_peter.png" alt="...">
            </div>
        </section>