<!-- Intro Header -->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase"><span class="text-clouddev-blue outline">cloud</span><span>dev</span></h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Azure and .NET Development services</h2>
                <a class="btn btn-primary" href="#about">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</header>