    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">                           
                        <img src="img/logo.png" class="center-block img-responsive" alt="CloudDev logo">                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">                        
                        <p class="intro-text">Azure and .Net Development services</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>