<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase">stichd</h2>
              <p class="item-intro text-muted text-center">Enterprise Integration platform built with Azure Integration
                Services</p>
              <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/stichd.jpg" alt="..." />
              <p>
                <strong>stichd</strong> (part of PUMA SE) produces and supplies bodywear, legwear, swimwear, and fanwear
                for various globally renowned brands such as PUMA, Tommy Hilfiger, Levi’s, Manchester City and Formula 1.
                With a team from HSO / Motion 10, we have implemented PitWall for stichd, an integration platform on
                Azure that connects almost all internal and external systems (e.g. SAP, Warehouse management, Product
                information management, Point of Sales) for messaging and data traffic based on Azure Integration
                Services.
              </p>
              <p>
                As an integration consultant/solution architect, I was responsible for the design and implementation (in
                collaboration with junior/medior developers) of various integration flows.
              </p>
              <p>The following services were mainly used:</p>
              <ul>
                <li>Azure Service Bus</li>
                <li>Azure Logic Apps (Standard and Consumption)</li>
                <li>Azure Functions</li>
                <li>Azure API Management</li>
                <li>Azure Event Grid</li>
                <li>Azure Storage</li>
                <li>Azure CosmosDB</li>
                <li>Azure Application Insights</li>
                <li>Azure Key Vault</li>
                <li>Bicep and Azure Resource Manager (ARM) templates</li>
                <li>Azure DevOps Pipelines (YAML)</li>
              </ul>
              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                <i class="fas fa-xmark me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase">Saint Gobain Building Distribution Benelux</h2>
              <p class="item-intro text-muted text-center">Migration to Azure, Infrastructure as Code</p>
              <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/sgbdnl.jpg" alt="..." />
              <p>
                <strong>Saint-Gobain Building Distribution Benelux</strong> was a subsidiary of Saint-Gobain, a
                French multinational which produces a variety of construction, high
                performance, and other materials. In 2021 the Dutch business units were
                acquired by BME Group.<br />
                In June 2017, Saint-Gobain was hit by a major cyber attack (NotPetya)
                worldwide. This created the need for Saint-Gobain Building Distribution Benelux
                to migrate a large part of the internally hosted E-business platform to Microsoft
                Azure. Additionally, part of the on-premise hosted components (IIS / SQL Server
                / ETL tooling) needed to be migrated to a new Private Cloud provider.<br />
                To minimize the risks of a new cyber attack, many requirements were set from
                the headquarters for the setup of the Cloud environment. Therefore, it was
                necessary to regularly communicate with security specialists, architects, and
                other IT officials from the headquarters in Paris.<br />
                In this context, I was mainly involved in:
              </p>
              <ul>
                <li>Setting up build/deployment pipelines for deploying all infrastructure
                  components in Azure using Azure Resource Manager templates, Azure
                  CLI, and PowerShell Scripts.</li>
                <li>Setting up monitoring and alerting based on Application Insights / Azure
                  Monitor.</li>
                <li>The E-business platform was entirely based on Angular/PHP for the
                  frontend, .NET (core) for the backend APIs, and SQL Server as the
                  database system. A large part of the API endpoints was transformed
                  from a monolith to separate microservices based on .NET Core, often
                  with CosmosDB as the NoSQL datastore.</li>
              </ul>
              <p>
                Setting up new applications for, among other things:
              </p>
              <ul>
                <li>Managing the aftersales process (warrantyclaims and complaints)</li>
                <li>Providing invoice information plus payment options via iDEAL</li>
                <li>API Gateway as a Strangler Facade for the backend APIs</li>
              </ul>
              <p>
                I regularly presented knowledge-sharing sessions where I guided the internal
                developers in the setup and management of the components in Azure.<br />
                Additionally, I assisted developers in setting up the applications they developed
                in their scrum teams.
              </p>
              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                <i class="fas fa-xmark me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase">DEPT</h2>
              <p class="item-intro text-muted text-center">Multiple projects for customers.</p>
              <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..." />
              <p>
                As a .NET developer at <strong>DEPT</strong>, I have worked on various projects for different
                customers, including:
              </p>
              <p>
                Configuring a continuous integration and deployment environment based on
                Bamboo and Octopus Deploy for the BPD website platform consisting of 5 different
                applications and a number of middleware services.
              </p>
              <p>
                Development of a content portal based on Umbraco 7 for the public affairs
                department of MN, a major Dutch pensionfund.
              </p>
              <p>
                Development on a website based on Umbraco / MS Azure for Powned (dutch
                broadcasting network). Migration of old content (100K+ articles, 15 million
                comments). Site generates over 1 million pageviews per day, so performance of
                the backend code is crucial.
              </p>
              <p>
                Development of the Keurmerkenwijzer (Quality marks guide) for Milieu Centraal
                based on Umbraco 7.</p>
              <p>
                Development of the site energiebesparendoejenu.nl. Part of a national campaign
                to promote different methods to isolatie your house.
              </p>
              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                <i class="fas fa-xmark me-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>