    <!-- Services Section -->
    <section id="services" class="content-section text-center">
        <div class="services-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Services</h2>
                    <p>
                        CloudDev provides the following services:<br/>
                        <ul>
                            <li>.Net development / architecture</li>
                            <li>Microsoft Azure based development / architecture / configuration</li>
                            <li>Consulting on migrating .Net-based solutions to the Microsoft Azure platform</li>
                            <li>Consulting on setting up a .Net software factory with continuous integration</li>
                        </ul>
                    </p>                    
                </div>
            </div>
        </div>
    </section>