        <section class="projects-section bg-light" id="services">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Azure solution architecture</h4>
                            <p class="text-black-50 mb-0">
                                Designing and implementing cloud solutions using Microsoft Azure services, ensuring scalability, security, and efficiency for diverse business needs.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Improving .NET development workflows</h4>
                                    <p class="mb-0 text-white-50">
                                        Enhancing .NET development processes by integrating modern tools and practices to boost productivity, code quality, and collaboration among development teams.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Migration to Azure</h4>
                                    <p class="mb-0 text-white-50">Assisting organizations in migrating their existing applications, data, and infrastructure to Microsoft Azure, ensuring a smooth transition with minimal downtime.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
