    <!-- Services Section -->
    <section id="services" class="content-section text-center">
        <div class="services-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Services</h2>
                    <p>
                        CloudDev provides the following services on a freelance basis:<br/>
                        <ul>
                            <li>.NET development / architecture</li>
                            <li>Microsoft Azure based development / architecture / configuration</li>
                            <li>Consulting on migrating .NET-based solutions to the Microsoft Azure platform</li>
                            <li>Umbraco back-end development</li>
                            <li>Consulting on setting up a .NET software factory with continuous integration / deployment</li>
                        </ul>
                    </p>                    
                </div>
            </div>
        </div>
    </section>